.example-card2 {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;

}

.grid {
  max-width: 92.5%;
  margin-left: 5%;
  margin-top: 2%;

}

h3 {
  margin-top: 7.5%;
}


.total{
width: 30%;
margin-left: 60%;
margin-top: 5%;

}


.total2{
  width: 30%;
  margin-left: 5%;
  margin-top: 5%;

  }

.cabecera {
  display: flex;
}
