<mat-card class="example-card2">


    <mat-grid-list cols="6" rowHeight="50px" class="grid" >
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">

    <h3>{{tile.text}}</h3>
  </mat-grid-tile>
  <mat-grid-tile
        *ngFor="let tile of prodServ.getTileVentasRealizadas()"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">

      <h3 *ngIf="this.text(tile.text)">{{tile.text}}</h3>

      <button (click)="borrarProductList(tile.id)" mat-raised-button color="accent" *ngIf="tile.productos">{{tile.text}}</button>

      <button (click)="borrarProductList(tile.id)" mat-raised-button color="warn" *ngIf="tile.eliminar">{{tile.text}}</button>
    </mat-grid-tile>
</mat-grid-list>
</mat-card>
