<mat-card class="example-card">


  <div class="outPuts">
    <h1>Agregar Producto</h1>
  </div>
  <form class="example-form" [formGroup]="productService.getRegisterForm()">

    <table class="example-full-width" cellspacing="0">
      <div class="inputs">
        <mat-form-field class="example-full-width">
        <mat-label>Nombre Del Producto</mat-label>
        <input matInput
        formControlName="name"
        class="form-control">
      </mat-form-field>
      </div>
      <div class="inputs">
        <mat-form-field >
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" class="example-right-align form-control"
          formControlName="quantity"
        >
        </mat-form-field>
      </div>

      </table>

  </form>

   <div class="example-button-row outPuts2">
        <button mat-raised-button color="primary" (click)="loadProduct()">Cargar Venta</button>
        </div>
  </mat-card>

  <mat-card class="example-card2">
    <div class="client">
      <mat-form-field class="client2">
      <mat-label>Nombre Del Cliente</mat-label>
      <input (keyup)="onKey($event)" matInput>
    </mat-form-field>
    </div>
    <div class="guardarVenta">
      <div class="total">
      <h1>$ Total: {{total}}</h1>
    </div>
    <div class="example-button-row outPuts3">
      <button (click)="saveSale()" mat-raised-button color="primary">Guardar Ventas</button>
      </div>
    </div>

      <mat-grid-list cols="5" rowHeight="50px" class="grid" >
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">

      <h3>{{tile.text}}</h3>
    </mat-grid-tile>
    <mat-grid-tile
        *ngFor="let tile of productService.getTileVentas()"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">

      <h3 *ngIf="this.text(tile.text)">{{tile.text}}</h3>

      <button (click)="borrarProductList(tile.id)" mat-raised-button color="warn" *ngIf="tile.eliminar">{{tile.text}}</button>
    </mat-grid-tile>
  </mat-grid-list>
  </mat-card>
